<ion-content [fullscreen]="true">
<form [formGroup]="registerForm" (ngSubmit)="doRegister()">
<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col size="6">
        <app-input 
        type="text"
        label="Name"
        placeholder="Rafael"
        [control]="Name"
        >
      </app-input>
      </ion-col>
      <ion-col size="6">
        <app-input 
        type="text"
        label="Last Name"
        placeholder="Enrique"
        [control]="LastName"
        >
      </app-input>
      </ion-col>
    </ion-row>
  
    



    <ion-row>
      <ion-col>
        <app-input 
        type="Email"
        label="Email"
        placeholder="zamora@gmail.com"
        [control]="Email"
        >
      </app-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-input 
        type="Password"
        label="Password"
        placeholder="#######"
        [control]="Password"
      >
        </app-input>
      </ion-col>
      <ion-col>
        <app-input 
        type="Password"
        label="Comfirm password"
        placeholder="#######"
        [control]="ConfirmPassword"
      >
        </app-input>
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col>
        <app-button 
        type="submit"
        expand="block"
        color="primary"
        value="Register"
        [disabled]="registerForm.invalid"
        >
      </app-button>
      </ion-col>

       <ion-col>
        <app-button 
        type="submit"
        expand="block"
        color="primary"
        routerLink = "/login"
        value="Back"
        >
      </app-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</form>
</ion-content>



