.app-input {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-label {
    font-weight: 600;
    color: var(--ion-color-medium);
    margin-bottom: 4px;
  }

  ion-input {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 40px; /* espacio para el ojito */
    --background: #ffffff;
    --color: #1f2937;
    --placeholder-color: #9aa4b2;
    --placeholder-opacity: 1;
    border-radius: 8px;
  }
}

.err-note {
  display: block;
  margin-top: 6px;
}
